<mbm>
  <entry id="0">
    <source>确定要设置为{f801}这种难易度吗?{f801}{ffff}</source>
    <target>确定要设置为{f801}这种难易度吗?{f801}{ffff}</target>
  </entry>
  <entry id="1">
    <source>是{f801}否{f801}{ffff}</source>
    <target>是{f801}否{f801}{ffff}</target>
  </entry>
  <entry id="2">
    <source>请设置游戏的难易度{f801}{ffff}</source>
    <target>请设置游戏的难易度{f801}{ffff}</target>
  </entry>
  <entry id="3">
    <source>确定要设置为{f801}这种音量吗?{f801}{ffff}</source>
    <target>确定要设置为{f801}这种音量吗?{f801}{ffff}</target>
  </entry>
</mbm>